/*参数之间的间隔*/
.next_param{
    margin-top: 15px;
}

/*水波按钮效果*/
button{
    text-decoration:none;
    user-select:none;
    position: relative;
    display: block;
    margin: auto;
    width:120px;
    height:50px;
    line-height:50px;
    text-align:center;
    border-radius:25px;
    color:#fff;
    font-size:16px;
    cursor:pointer;
    background-color: #ff8300;
    box-shadow: 0 3px 9px 0 rgba(255, 131, 0, 0.35);
    overflow: hidden;
}
button:after{
    position: absolute;
    content: "";
    display: block;
    margin: auto;
    left: -40px;
    top:-75px;
    width: 200px;
    height: 200px;
    background: #1f7be1;
    color: #1f7be1;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s;
}
button:hover{
    background-color: #31ff2b;
    color: #1f7be1;
    top:-2px;
    box-shadow: 0 5px 13px 0 rgba(255, 131, 0, 0.59);
}
button:active{
    background-color: #1f7be1;
    color: #1f7be1;
    top:0;
    box-shadow: 0 3px 9px 0 rgba(255, 131, 0, 0.35);
}
button:active:after{
    width: 0;
    height: 0;
    left:60px;
    top: 25px;
    opacity: 1;
    transition-duration: 0s;
}
/*动态文字时钟*/
#click{
    color:gray;
    font-size: 1.5em;
    line-height: 1.2em;

}

.stockListPanel{

    max-height: 260px;
    overflow:auto;
}
#bar-text span{
    color: #4c4ae1;
}