<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords"
          content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
    <meta name="description" content="股票金融风险预测平台">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="../static/hpcomputing/images/favicon.ico"
          th:href="@{/hpcomputing/images/invoice-logo.jpg}" type="image/png">
    <title>股票金融风险预测平台</title>

    <!--pickers css-->
    <link rel="stylesheet" type="text/css"
          href="../static/hpcomputing/plugins/bootstrap-datepicker/css/datepicker-custom.css"
          th:href="@{/hpcomputing/plugins/bootstrap-datepicker/css/datepicker-custom.css}"/>

    <!--slider css-->
    <link href="../static/hpcomputing/css/jquery-ui-1.10.3.css" th:href="@{/hpcomputing/css/jquery-ui-1.10.3.css}"/>
    <!--dynamic table-->
    <link href="../static/hpcomputing/plugins/advanced-datatable/css/demo_page.css"  th:href="@{/hpcomputing/plugins/advanced-datatable/css/demo_page.css}"  rel="stylesheet"/>
    <link href="../static/hpcomputing/plugins/advanced-datatable/css/demo_table.css" th:href="@{/hpcomputing/plugins/advanced-datatable/css/demo_table.css}" rel="stylesheet"/>
    <link href="../static/hpcomputing/plugins/data-tables/DT_bootstrap.css" th:href="@{/hpcomputing/plugins/data-tables/DT_bootstrap.css}"/>

    <!--common-->
    <link href="../static/hpcomputing/css/style.css" th:href="@{/hpcomputing/css/style.css}" rel="stylesheet">
    <link href="../static/hpcomputing/css/style-responsive.css" th:href="@{/hpcomputing/css/style-responsive.css}" rel="stylesheet">
    <link href="../static/hpcomputing/css/mystyle.css" th:href="@{/hpcomputing/css/mystyle.css}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script th:src="@{/hpcomputing/js/html5shiv.js}"></script>
    <script th:src="@{/hpcomputing/js/respond.min.js}"></script>
    <![endif]-->
    <!--##################################3##########################################-->

    <style>
        .selected{
            background-color: #5685e1;
        }
        .my-title{
            color: rgba(1,1,1,0.96);
            font-size: large;
        }
        .my-title2{
             color: rgba(18, 18, 18, 0.96);
             font-size: medium;
         }
        .my-text{
            color: rgba(72, 72, 72, 0.96);
            font-size: small;
        }
    </style>

</head>

<body class="sticky-header">
<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side"  th:include="left_side_template :: leftside"></div>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content">

        <!-- header section start-->
        <div class="header-section" style="border-bottom: rgba(0,0,0,0.39) solid 1px;">
            <!--toggle button start-->
            <a class="toggle-btn"><i class="fa fa-bars"></i></a>
            <!--toggle button end-->
            <!--title start-->
            <div style="width: 80%;margin-top: 15px;text-align: center;">
                <span style="font-size:30px;margin-left: 200px;">股票金融风险预测平台</span>
                <div id="click" style="float:right;"></div>
            </div>
            <!--title end-->
        </div>
        <!-- header section end-->

        <!--body wrapper start-->
        <div class="wrapper">

            <!--预测参数 start-->
            <div class="row">
                <div class="col-md-12">
                    <!--param setting start-->
                    <section class="panel">
                        <header class="panel-heading">
                            广东省信息物理融合系统重点实验室
                            <span class="tools pull-right">
                                <a class="fa fa-chevron-down" href="javascript:;"></a>
                            </span>
                        </header>
                        <div class="panel-body">
                            <div>
                                <div class="my-title">团队简介:</div>
                                <p class="my-text">广东工业大学程良伦教授科研团队拥有智能制造信息物理融合系统集成技术国家地方联合工程研究中心、信息物理融合系统广东省重点实验室、广东省复杂过程信息物理融合系统工技术研究中心。科研团队近 5 年来承担/参与各类项目 150 多项：其中国家和省部级重要科研项目 50 余项，国家自然科学基金重点项目 3 项，面上（青年）项目 8 项；国家重点研发计划项目 2 项；广东省自然科学基金重点项目、面上项目、团队项目各 1 项；其他省级科技计划项目 40 余项。横向企业科研项目 50 项，其中重大科研项目（100 万以上） 40 项，项目成果取得了较好的社会效益和经济效益。截至目前，发表高质量学术研究论文 200 余篇；累计获得授权发明专利 30 余项，软件著作权 20 余项。团队 2010 年获广东省科学技术一等奖； 2013 年获得广东省科学技术二等奖。</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="../static/hpcomputing/images/llc-lab1.png" th:src="@{/hpcomputing/images/llc-lab1.png}">
                                    </div>
                                    <div class="col-md-6">
                                        <img src="../static/hpcomputing/images/llc-lab2.png" th:src="@{/hpcomputing/images/llc-lab2.png}">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="my-title">团队负责人:</div>
                                <p class="my-text">
                                    程良伦教授，博士 ，二级教授岗位，博士研究生导师。现任广东工业大学教授（二级），博士研究生导师，国务院政府特殊津贴专家，南粤优秀教师，广东省跨世纪人才“千百十”工程国家级培养对象，智能制造信息物理融合系统集成技术国家地方联合工程研究中心主任，广东省信息物理融合系统重点实验室主任，中国航天系统院钱学森创新委员会副主任。
                                    发表学术研究论文300余篇，出版教材3部。授权发明专利21件，取得软件版权20余项。指导硕士研究生160名，博士生15名，博士后11名, 其中有4位硕士研究生获南粤优秀研究生。主持广东省高等学校省级精品课程1门；主编国家“十一五”规划教材1部。承担了省级教改项目2项；教学成果获广东省高等学校省级教学成果奖一等奖1项（排名第一），二等奖1项（排名第一）。
                                </p>
                            </div>
                            <div>
                                <div class="my-title">团队成﻿﻿﻿员:</div>
                                <p class="my-text">
                                    教授1人，副教授3人，讲师7人（青年百人5人），博士后研究人员3人，在读博士研究生4人，在读硕士研究生50余人。
                                </p>
                            </div>
                            <div>
                                <div class="my-title">主要研究领域:</div>

                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <span class="my-title2">信息物理融合系统:</span>
                                        <p class="my-text">信息物理融合系统是面向典型工业复杂过程，通过可靠感知，进行实时传输，通过计算获得准确的控制来提供可信服务。</p>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="my-title2">工业大数据:</span>
                                        <p class="my-text">针对大信息量下知识自动化构架与知识分层抽象建模困难、多源异构工业过程实时数据难以融合，构建工业过程中数据实时获取与知识自动化的架构与方法。</p>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="my-title2">太赫兹技术:</span>
                                        <p class="my-text">针对轨道交通乘客公共安全快速检测需求，通过太赫兹技术对危险品进行检测。</p>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="my-title2">图像处理:</span>
                                        <p class="my-text">图像处理领域研究方面有高分遥感图像处理，车辆多维特征识别，大规模多维特征样本深度学习与高速高精度车辆结构化信息识别算法。</p>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="my-title2">高性能计算:</span>
                                        <p class="my-text">针对高性能计算系统高功耗问题，开展体系结构级GPU功耗模型及软件低功耗优化方法研究，研究面向程序执行特征的关键路径查询动态功耗优化方法，基于任务均衡划分的多维GPU静态功耗优化方法。</p>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="my-title2">智能装备与机器人系统:</span>
                                        <p class="my-text">针对集装箱、船舶等行业的复杂非标准构件自动焊接问题，开展复杂构件智能焊接机器人研发，完成智能焊接机器人本体与控制器设计与集成、自动焊接关键技术研究等；提高集装箱制造业自动化焊接程度。</p>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="my-title2">智能制造与知识自动化:</span>
                                        <p class="my-text">通过机器学习方法达到智能制造，增强制造物联网中动态制造过程协同感知服务组合的灵活性、可靠性。建立知识图谱库达到知识自动化。</p>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <div class="my-title">团队平台建设历程:</div>
                                <p class="my-text">
                                    <img src="../static/hpcomputing/images/llc-platform.png" th:src="@{/hpcomputing/images/llc-platform.png}">
                                </p>
                            </div>
                        </div>
                    </section>
                    <!--param setting end-->
                </div>
            </div>
            <!--预测参数 end-->

        </div>
        <!--body wrapper end-->
        <!--footer section start-->
        <footer th:include="footer_template :: myfooter"></footer>
        <!--footer section end-->
    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="../static/hpcomputing/js/jquery-1.10.2.min.js" th:src="@{/hpcomputing/js/jquery-1.10.2.min.js}"></script>
<script src="../static/hpcomputing/js/jquery-ui-1.9.2.custom.min.js" th:src="@{/hpcomputing/js/jquery-ui-1.9.2.custom.min.js}"></script>
<script src="../static/hpcomputing/js/jquery-migrate-1.2.1.min.js" th:src="@{/hpcomputing/js/jquery-migrate-1.2.1.min.js}"></script>
<script src="../static/hpcomputing/js/bootstrap.min.js" th:src="@{/hpcomputing/js/bootstrap.min.js}"></script>
<!--<script src="js/js/modernizr.min.js"></script>-->
<script src="../static/hpcomputing/js/bootstrap.min.js" th:src="@{/hpcomputing/js/jquery.nicescroll.js}"></script>

<!--common scripts for all pages-->
<script src="../static/hpcomputing/js/scripts.js"  th:src="@{/hpcomputing/js/scripts.js}"></script>

<!--slider initialization-->
<script src="../static/hpcomputing/js/myjsfile.js" th:src="@{js/myjsfile.js}"></script>


</body>
</html>
