<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<!--footer section start-->
<footer th:fragment="myfooter">
    <div class="container">
        <div class="row" style="text-align: center;">
            <div class="col-xs-12">
                <p style="position:relative;margin-top: 2px;">Copyright©2018.GDUT.LLCLAB All rights reserved</p>
                <p>Contact information: <a style="background-color: rgba(0,0,0,0.6);"
                                           href="mailto:llcheng@gdut.edu.cn">
                    <i class="fa fa-envelope-o fa-fw"></i>
                    llcheng@gdut.edu.cn</a>.
                </p>
            </div>

        </div>
    </div>
</footer>
<!--footer section end-->

</body>
</html>