<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords"
          content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
    <meta name="description" content="股票金融风险预测平台">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="../static/images/invoice-logo.jpg"
          th:href="@{/images/invoice-logo.jpg}" type="image/png">
    <title>股票金融风险预测平台</title>

    <link rel="shortcut icon" href="../static/images/invoice-logo.jpg"
          th:href="@{/images/invoice-logo.jpg}" type="image/png">
    <title>股票金融风险预测平台</title>

    <!--pickers css-->
    <link rel="stylesheet" type="text/css"
          href="../static/plugins/bootstrap-datepicker/css/datepicker-custom.css"
          th:href="@{/plugins/bootstrap-datepicker/css/datepicker-custom.css}"/>

    <!--slider css-->
    <link href="../static/css/jquery-ui-1.10.3.css" th:href="@{/css/jquery-ui-1.10.3.css}"/>
    <!--dynamic table-->
    <link href="../static/plugins/advanced-datatable/css/demo_page.css"  th:href="@{/plugins/advanced-datatable/css/demo_page.css}"  rel="stylesheet"/>
    <link href="../static/plugins/advanced-datatable/css/demo_table.css" th:href="@{/plugins/advanced-datatable/css/demo_table.css}" rel="stylesheet"/>
    <link href="../static/plugins/data-tables/DT_bootstrap.css" th:href="@{/plugins/data-tables/DT_bootstrap.css}"/>

    <!--common-->
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <link href="../static/css/style-responsive.css" th:href="@{/css/style-responsive.css}" rel="stylesheet">
    <link href="../static/css/mystyle.css" th:href="@{/css/mystyle.css}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script th:src="@{/js/html5shiv.js}"></script>
    <script th:src="@{/js/respond.min.js}"></script>
    <![endif]-->
    <!--##################################3##########################################-->

    <style>
        .selected{
            background-color: #5685e1;
        }
    </style>

</head>

<body class="sticky-header">
<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side"  th:include="left_side_template :: leftside"></div>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content">

        <!-- header section start-->
        <div class="header-section" style="border-bottom: rgba(0,0,0,0.39) solid 1px;">
            <!--toggle button start-->
            <a class="toggle-btn"><i class="fa fa-bars"></i></a>
            <!--toggle button end-->
            <!--title start-->
            <div style="width: 80%;margin-top: 15px;text-align: center;">
                <span style="font-size:30px;margin-left: 200px;">股票金融风险预测平台</span>
                <div id="click" style="float:right;"></div>
            </div>
            <!--title end-->
        </div>
        <!-- header section end-->

        <!--body wrapper start-->
        <div class="wrapper">

            <!--预测参数 start-->
            <div class="row">
                <div class="col-md-12">
                    <!--param setting start-->
                    <section class="panel">
                        <header class="panel-heading">
                            预测参数设置
                            <span class="tools pull-right">
                                <a class="fa fa-chevron-down" href="javascript:;"></a>
                            </span>
                        </header>
                        <div class="panel-body">
                            <div class="panel-body">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-5"
                                                     style="position: relative;transform: translateY(20%);text-align: right;">
                                                    <label>股票数量:</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <input  type="text" id="amount" class="form-control">
                                                    <div id="slider-range-max"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-5"
                                                     style="position: relative;transform: translateY(20%);text-align: right;">
                                                    <label>起始日期:</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <input id="start_date" class="form-control default-date-picker" size="16"
                                                           type="text" value="" placeholder="2017-12-01" readonly/>
                                                </div>
                                            </div>
                                            <div class="row next_param">
                                                <div class="col-md-5"
                                                     style="position: relative;transform: translateY(20%);text-align: right;">
                                                    <label>结束日期:</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <input class="form-control default-date-picker" size="16"
                                                           type="text" id="end_date" placeholder="2018-09-01" readonly/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <label>聚类族数:</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <input type="text" class="form-control"
                                                           placeholder="5" id="cluster_size">
                                                </div>
                                            </div>
                                            <div class="row next_param">
                                                <div class="col-md-5">
                                                    <label>预测天数:</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <input type="text" class="form-control"
                                                           placeholder="100" id="predict_dates">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5" style="margin-top: 20px;">
                                    <button id="bt-beginPre" class="btn btn-primary btn-lg" type="button">开始预测</button>
                                    <br/>
                                    <br/>
                                    <span>(备注:为方便可视化，预测值比实际值延后一个时间点显示)</span>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--param setting end-->
                </div>
            </div>
            <!--预测参数 end-->

            <!--Striped Progress Bars start-->
            <div id="progress-bar" class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6" style="text-align: center;">
                    <div id="bar-text">正在<span >加载数据</span></div>
                    <div class="progress progress-striped active"style="background-color: rgba(0,0,0,0.44);">
                        <div id="prog" class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"
                             style="width:0%;">
                            <span id="proglabel">正在启动，请稍后......</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <!--Striped Progress Bars end-->
            <!--最优组合结果 start-->
            <div id="best-result" class="row">
                <div class="col-md-4">
                    <!--more statistics box start-->
                    <div id="best-result-left" class="panel" style="background-color: rgba(0,0,0,0.45);height: 530px;">
                        <div class="panel-body" >
                            <p style="padding-left:5px;color: #ffffff;font-size: 16px;">最优组合结果</p>
                            <section class="panel">
                                <div class="panel-body stockListPanel">
                                    <table id="best-result-table" class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th><span class="label label-info label-mini"></span></th>
                                            <th>聚类类别</th>
                                            <th>股票代码</th>
                                            <th>股票名称</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tbzuhe">

                                        </tbody>
                                    </table>
                                </div>
                            </section>

                            <div id="echart-piecchart"
                                 style="min-width:200px;height:200px;margin-top: 20px;" ></div>

                        </div>
                    </div>
                    <!--more statistics box end-->
                </div>
                <div class="col-md-8">
                    <div id="best-result-right" class="panel" style="background-color: rgba(0,0,0,0.45);">
                        <div class="panel-body">
                            <div id="echarts-div" style="height:500px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--最优组合结果 end-->

            <!--所有股票聚类结果 start-->
            <div id="all-result" class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-sm-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    所有聚类结果
                                    <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
             </span>
                                </header>
                                <div class="panel-body">
                                    <div class="adv-table">
                                        <table class="display table table-bordered table-striped" id="dynamic-table">
                                            <thead>
                                            <tr>
                                                <th>聚类类别</th>
                                                <th>股票代码</th>
                                                <th>股票名称</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <!--<tr th:each="zuhe,iterStock:${clusterZuheList}"-->
                                            <!--th:id="${zuhe.id}">-->
                                            <!--<td th:text="|第${zuhe.classId}聚类|">第i类</td>-->
                                            <!--<td th:text="${zuhe.id}">代码</td>-->
                                            <!--<td th:text="${zuhe.name}">名称</td>-->
                                            <!--</tr>-->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="col-md-8" id="echart2-div-width">
                    <div class="panel">
                        <div class="panel">
                            <div class="panel-body">
                                <!--min-width:500px;max-width:600px;-->
                                <div id="echarts-div2" style="height:500px;"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--所有股票聚类结果 end-->
        </div>
        <!--body wrapper end-->
        <!--footer section start-->
        <footer th:include="footer_template :: myfooter"></footer>
        <!--footer section end-->
    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="../static/js/jquery-1.10.2.min.js" th:src="@{js/jquery-1.10.2.min.js}"></script>
<script src="../static/js/jquery-ui-1.9.2.custom.min.js" th:src="@{js/jquery-ui-1.9.2.custom.min.js}"></script>
<script src="../static/js/jquery-migrate-1.2.1.min.js" th:src="@{js/jquery-migrate-1.2.1.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
<!--<script src="js/js/modernizr.min.js"></script>-->
<script src="../static/js/bootstrap.min.js" th:src="@{js/jquery.nicescroll.js}"></script>

<!--common scripts for all pages-->
<script src="../static/js/scripts.js"  th:src="@{js/scripts.js}"></script>
<!--pickers plugins-->
<script src="../static/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"  th:src="@{plugins/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
<!--pickers initialization-->
<!--<script src="../static/js/pickers-init.js" th:src="@{js/pickers-init.js}"></script>-->

<!--slider initialization-->
<script src="../static/js/myjsfile.js" th:src="@{js/myjsfile.js}"></script>

<!-- DATA TABLE SCRIPTS -->
<script src="../static/dataTables/jquery.dataTables.js"
        th:src="@{/dataTables/jquery.dataTables.js}"></script>
<script src="../static/dataTables/dataTables.bootstrap.js"
        th:src="@{/dataTables/dataTables.bootstrap.js}"></script>

<!-- echarts stock-->
<script src="../static/js/echarts/echarts.min.js" th:src="@{js/echarts/echarts.min.js}"></script>
<script src="../static/js/echarts/dark.js" th:src="@{js/echarts/dark.js}"></script>
<script src="../static/js/echarts/echarts-init.js" th:src="@{js/echarts/echarts-init.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    //拿到模型列表
    var modelList = /*[[${modelList}]]*/ 2;
    setStockSize(1000,100);
    var myChart = echarts.init(document.getElementById('echarts-div'),"dark");

    var myChart2 = echarts.init(document.getElementById('echarts-div2'));

    //echart图初始化
    var container1 = document.getElementById('echarts-div');
    //自适应窗口大小
    container1.style.width = $('#echart2-div-width').width()*0.95+'px';


    var container2 = document.getElementById('echarts-div2');
    //自适应窗口大小
    container2.style.width = $('#echart2-div-width').width()*0.95+'px';
    /*]]>*/
</script>

<script src="../static/js/index-page.js" th:src="@{/js/index-page.js}"></script>

</body>
</html>
