<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="leftside">
    <!--logo and iconic logo start-->
    <div class="logo">
        <a href="index.html"><img src="../static/images/logo.png" th:src="@{images/logo.png}" alt=""></a>
    </div>
    <div class="logo-icon text-center">
        <a href="index.html"><img src="../static/images/logo_icon.png" th:src="@{images/logo_icon.png}"
                                  alt=""></a>
    </div>
    <!--logo and iconic logo end-->

    <div class="left-side-inner">
        <!--sidebar nav start-->
        <ul class="nav nav-pills nav-stacked custom-nav">
            <li id="index-page">
                <a href="index.html">
                    <i class="fa fa-home"></i>
                    <span>首页</span>
                </a>
            </li>
            <!--<li id="model-page"><a href="model.html"><i class="fa fa-laptop"></i> <span>预测模型历史记录</span></a>-->
            <li><a href="#"><i class="fa fa-laptop"></i> <span>关于我们</span></a>
        </ul>
        <!--sidebar nav end-->
    </div>
</div>
</body>
</html>