<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js">
    </script>
</head>
<body>
<table id="sample">
    <tbody>
    <tr>
        <td>4</td>
        <td> to Citavi project by ISBN</td>
        <td>xqHBhlAOrgvOr</td>
        <td>jinking.xu</td>
        <td>2015-09-21 17:50:01</td>
        <td>2015-09-21 17:50:01</td>
    </tr>

    <tr>
        <td>3</td>
        <td>admin</td>
        <td>XsuZWohjMSIeP</td>
        <td></td>
        <td></td>
        <td>2015-09-16 15:44:37</td>
    </tr>

    <tr>
        <td>2</td>
        <td>goods.vip</td>
        <td>gsFpUzwtNe</td>
        <td>jilin.lu</td>
        <td>2015-09-15 15:29:06</td>
        <td>2015-09-16 15:44:05</td>
    </tr>

    <tr>
        <td>1</td>
        <td>b2csupport_huigui</td>
        <td>LWJGxnqSyOjXd</td>
        <td></td>
        <td></td>
        <td>2015-09-16 15:44:37</td>

    </tr>
    </tbody>
</table>

<script>
    //    $("input[name='toEdit']").each(function(){
    //        var currentEle = $(this);
    //        currentEle.click(function(){
    //            window.location.href="${basePath}v/xxx/toEdit/?systemId="+$(this).attr("systemIdVaule");
    //        });
    //    });

    $('#editable-sample tr').live('click', function (e) {
        e.preventDefault();

        /* Get the row as a parent of the link that was clicked on */
        var nRow = $(this);
        alert("nRow="+nRow);

    });

</script>

</body>
</html>